<div style =" float:left;margin-left:30px;margin-top:30px;background-color:khaki;border-radius:20px; padding:10px;box-shadow: 5px 10px #888888;">


article id : {{ article[0].getId }}
<br>
article title : {{ article[0].getTitle }}
<br>
article category :  {{ article[0].getCategory }}
<br>
article content :  {{ article[0].getContent() }} 
<br>
written by :  {{ article[0].getArticleAuthor }}

<br>
</div>